services:
  # -------------------------------------------------------
  # 1. The Mining Pool (MiningCore)
  # -------------------------------------------------------
  miningcore:
    build:
      context: .
      dockerfile: Dockerfile.pool
    image: community-pool/miningcore:latest
    restart: unless-stopped
    ports:
      - "3333:3333" # Stratum Port (Low Diff)
      - "4000:4000" # API Port
    volumes:
      - ../config/miningcore:/app/config
    depends_on:
      - postgres
      - redis
      - monero-node
      - monero-wallet

  # -------------------------------------------------------
  # 2. Monero Node (The Blockchain)
  # -------------------------------------------------------
  monero-node:
    image: sethsimmons/simple-monerod:latest
    restart: unless-stopped
    volumes:
      - monero-data:/home/monero/.bitmonero
    ports:
      - "18080:18080" # P2P (External)
      # 18081 is RPC, we keep it internal for security
      - "18081:18081"
      - "18082:18082"
    command: >
      --rpc-bind-ip=0.0.0.0
      --rpc-bind-port=18081
      --confirm-external-bind
      --zmq-pub=tcp://0.0.0.0:18082 
      --out-peers=64
      --in-peers=32

  # -------------------------------------------------------
  # 3. Database (PostgreSQL)
  # -------------------------------------------------------
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: miningcore
      POSTGRES_USER: miningcore
      POSTGRES_PASSWORD: ${DB_PASSWORD:-change_me_in_env_file}
    volumes:
      - postgres-data:/var/lib/postgresql/data

# -------------------------------------------------------
  # 4. Cache (Redis)
  # -------------------------------------------------------
  redis:
    image: redis:alpine
    restart: unless-stopped

# -------------------------------------------------------
  # 5. Monero Wallet RPC (Handles Payments)
  # -------------------------------------------------------
  monero-wallet:
    image: ghcr.io/sethforprivacy/simple-monero-wallet-rpc:latest
    restart: unless-stopped
    user: "0:0"
    volumes:
      - ./wallet:/wallet
    ports:
      - "18083:18083"
    entrypoint: 
      - monero-wallet-rpc
      - --wallet-file
      - /wallet/poolwallet
      - --password
      - "buttpounder420"
      - --rpc-bind-port
      - "18083"
      - --rpc-bind-ip
      - "0.0.0.0"
      - --confirm-external-bind
      - --daemon-address
      - "monero-node:18081"
      - --trusted-daemon
      - --disable-rpc-login

volumes:
  monero-data:
  postgres-data:
  